div {
    text-align: center;
    margin: 0 auto;
}


/* CSS PARA OS BOXES PARA DEIXAR UMA APRÊNCIA MAIS AGRADÁVEL */

body {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }
  
  /*#region Popup Loading */
  
  #box-camera #box--loading {
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
  }
  
  #box-camera #box--loading .loader,
  #box-camera #box--loading .loader:after {
    border-radius: 50%;
    width: 88px;
    height: 88px;
    position: relative;
    z-index: 10;
  }
  
  #box-camera #box--loading .loader {
    margin: 0px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 4px solid rgba(255, 255, 255, 0);
    border-right: 4px solid rgba(255, 255, 255, 0);
    border-bottom: 4px solid rgba(255, 255, 255, 0);
    border-left: 4px solid rgba(41, 128, 255, 1);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.5s infinite linear;
    animation: load8 1.5s infinite linear;
  }
  
  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  /*#endregion */
  
  /*#region Popup Orientation */
  
  #box-camera #box--orientation {
    background-color: white;
  }
  
  #box-camera #box--orientation #lock-image {
    max-width: 100px;
    margin-top: 20px;
  }
  
  /*#endregion */
  
  /*#region Box In */
  
  #box-camera .box-in {
    position: absolute;
    top: 45%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 10;
    text-align: center;
  }
  
  /*#endregion */
  